interface {{ infos.port }}
{% if infos.name %}
description {{ infos.name }}
{% endif %}
{% if infos.speed %}
speed {{ infos.speed }}
{% endif %}
{% if infos.duplex %}
duplex {{ infos.duplex }}
{% endif %}
{% if infos.status in ("enabled","no shut","enable") %}
no shut
{% elif infos.status in ("disabled","disable","shut") %}
shut
{% endif %}

